/* SHARED STYLE */
.dashboard-container {
  display: flex;
  flex-direction: row;
}

/* SIDE MENU */
.left-Side-Menu {
  display: flex;
  flex-direction: column;
  width: 13%;
  height: 100vh;
  padding-top: 20px;
  background-color: var(--white);
  border-right: 1px solid var(--border-color);
}
/* BODY */
.dashboard-content {
  width: 87%;
  margin: 50px;
  align-items: center;
  justify-content: center;
}
