@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f6f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #80cbc4;
  --first-bg: #f9fbfb;
  --second-bg: #e9f1f0;
  --font-color: #101918;
  --white: #ffffff;
  --black: #000000;
  --border-color: #e5e7eb;
  --border-color-light: #abacb685;
  --header-font-size: 49px;
  --header2-font-size: 35px;
  --text-font-size: 21px;
}
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    list-style-type: none;
  }
}
